
@{
    ViewData["Title"] = "The Story!";
}

@model  Madlib

<h1>@Model.Name's Story</h1>

<p>@Model.Name @Model.Transport to @Model.City every weekday. In the @Model.TimeOfDay, @Model.Name takes the @Model.ClassName class.</p>
<p>There's a test today.  @Model.Name is @Model.Emotion and feeling @Model.Adverb @Model.Adjective. @Model.Exclamation!</p>